<ion-header>
  <ion-toolbar>
    <ion-title>Promoção Prato do Dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let home of dia" [routerLink]="home.pagina" [queryParams]="{imagem: home.foto, nome: home.nome, preco2: home.preco2, descricao: home.descricao}" >  
      <ion-thumbnail slot="start">
        <img  id="imagem" [src]="home.foto">
      </ion-thumbnail>
   <ion-label id="produtos" position="undefined">
    <h2>{{home.nome}}</h2>
    <p>De:{{home.preco}}</p>
    <p>Por: {{home.preco2}}</p>
     <!-- <p>{{home.descricao}}</p> -->
   </ion-label>
    </ion-item>
  </ion-list>
  <ion-button class="botao" (click)="navegar()" expand="block">Voltar</ion-button>
</ion-content>
